* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
}

header {
    margin-top: 2%;
    margin-left: 5%;
    
    
}

header a {
    margin-right: 17px;
    font-size: 18px;
    font-weight: 600;
    opacity: 0.8;
    color: #989D9C;
    text-transform: uppercase;
    cursor: pointer;
}

header a:hover {
    opacity: 0.3;
}

header a:active {
    color: #00fc87;
}

header button {
    height: 30px;
    width: 8%;
    font-weight: 400;
    font-size: 17px;
    background: #665AE1;
    border: none;
    border-radius: 50px;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    line-height: 29.26px;
}

header button:hover {
    opacity: 0.6;
}

header button:active {
    background: #00fc87;
}

main {
    
    
}

main img {
    display: inline-block;
    height: 80%;
    
    /* margin: 20% auto; */
    padding-left: 5%;
    margin-top: 5%;
}

main div {
    display: inline-block;
    position: absolute;
    top: 30%;
    padding-left: 6%;
}

div h1 {
    font-size: 6rem;
    font-weight: 900;
    text-transform: uppercase;
    color: #515151;
    line-height: 120%;
}

div h2 {
    font-weight: 500;
    font-size: 3rem;
    color:#515151;
    line-height: 1em;
}

div p {
    width: 100%;
    font-weight: 400;
    font-size: 20px;
    color: #848484;
    line-height: 29.26px;
    margin: 15px auto;
    
}

div button {
    color:#000000;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    height: 45px;
    width: 30%;
    border-radius: 50px;
    background: #ADFF00;
    border: none;
    cursor: pointer;
    box-shadow:  0 7px 10px #515151;
}

div button:hover {
    opacity: 0.6;
}

div button:active {
    background: #00fc87;
}